[value*="add to"] {
	background: #e03470!important;
	border: #e03470!important;
}


[placeholder="number"] {
	border-right: #7b6e6e 10px solid!important;
}


#cart [href*=".com/checkout"] {
	
}


[class*="cancel"] {
	border-right: #8a8689 10px solid!important;
}



#wrap > * {
  opacity: 1!important;
  transition: none!important;
}


[class*="sold-out"] {
	
	background: #f6dcdc!important;
}
