[value*="add to"] {
	background: #e03470!important;
	border: #e03470!important;
}





#cart [href*=".com/checkout"] {
	
}




#wrap > * {
  opacity: 1!important;
  transition: none!important;
}


[class*="sold-out"] {
	
	background: #f6dcdc!important;
}
