[value*="add to"] {

background: black!important;
border: black!important;

}



#wrap > * {
  opacity: 1!important;
  transition: none!important;
}

[class*="cancel"] {
	border-right: #8a8689 2px solid!important;
}
