[value*="add to"] {

background: black!important;
border: black!important;

}



#wrap > * {
  opacity: 1!important;
  transition: none!important;
}

[class*="cancel"] {
	border-right: #8a8689 10px solid!important;
}


[class*="sold-out"] {
	
	background: #f6dcdc!important;
}

